@using JSNLog
@using JSNLog.Tests.Common;
@using System.Text;
@using JSNLog.TestSite.Logic;

    <h2>RequestIdTest</h2>
    @{ 
        CommonTestHelpers.SetConfigCache(@"<jsnlog></jsnlog>");
    }

    @Html.Raw(JSNLog.JavascriptLogging.Configure(ViewBag.PassedInRequestId))

    @{ 
        var sb = new StringBuilder();
        TestUtils.AddSetXMLHttpRequest(sb);
        TestUtils.AddLoadJsnlogJs(sb);
    }
    @Html.Raw(sb.ToString())

    <div id="IdFromController">@ViewBag.RequestId</div>
    <div id="IdFromView">@Context.RequestId()</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
        $(function() {
            $("#IdFromJL").html(JL.requestId);
            $("#running").remove(); // make sure OnError doesn't think the page has errored
        });
    </script>

<!--The testdone object signals to the C# that it can stop waiting for the test to finish-->
<div id="testdone"></div>
