// Generated.cs gets copied from Generated.cs.template
// During the copy, __Version__ is replaced by the actual version.

namespace JSNLog.Tests
{
    public static class Generated
    {
        public static string Version { get { return "__Version__";  } }
    }
}

